<p id="notice"><%= notice %></p>

<div class="container">
  <% @articles.each do |article| %>
      <div class="content_card">
        <%= link_to (image_tag article.image.url(:thumb)), article %>
        <%= article.source %>
        <%= article.description %>
        <ul>
          <li><%= link_to 'Show', article %></li>
          <li><%= link_to 'Edit', edit_article_path(article) %></li>
          <li><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
      </div>
  <% end %>
</di>







